aiofiles==0.8.0
httptools==0.3.0
multidict==5.2.0
numpy==1.21.4
picamera==1.13; platform_system == "Linux" and platform_machine == "armv7l"
PyYAML==6.0
sanic==21.12.1
Sanic-Cors==2.0.0
sanic-routing==0.7.2
ujson==5.1.0
uvloop==0.16.0
websockets==10.1
